In [2]:
"""
Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g.,
data.csv)
1.Provide summary statistics (mean, median, minimum, maximum,
standard deviation) for a dataset (age, income etc.) with numeric
variables grouped by one of the qualitative (categorical) variables.
For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of
income grouped by the age groups. Create a list that contains a
numeric value for each response to the categorical variable.
2.Write a Python program to display some basic statistical details like

percentile, mean, standard deviation etc. of the species of ‘Iris-
setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset. 
"""

'\nDescriptive Statistics - Measures of Central Tendency and variability\nPerform the following operations on any open source dataset (e.g.,\ndata.csv)\n1.Provide summary statistics (mean, median, minimum, maximum,\nstandard deviation) for a dataset (age, income etc.) with numeric\nvariables grouped by one of the qualitative (categorical) variables.\nFor example, if your categorical variable is age groups and\nquantitative variable is income, then provide summary statistics of\nincome grouped by the age groups. Create a list that contains a\nnumeric value for each response to the categorical variable.\n2.Write a Python program to display some basic statistical details like\n\npercentile, mean, standard deviation etc. of the species of ‘Iris-\nsetosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset. \n'

In [21]:
# Import the required libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets

In [22]:
wine = datasets.load_wine()
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 178\n:Number of Attributes: 13 numeric, predictive attributes and the class\n:Attribute Information:\n    - Alcohol\n    - Malic acid\n    - Ash\n    - Alcalinity of ash\n    - Magnesium\n    - Total phenols\n    - Flavanoids\n    - Nonflavanoid phenols\n    - Proanthocyanins\n    - Color intensity\n    - Hue\n    - OD280/OD315 of diluted wines\n    - Proline\n    - class:\n        - class_0\n        - class_1\n        - class_2\n\n:Summary Statistics:\n\n============================= ==== ===== ======= =====\n                                Min   Max   Mean     SD\n============================= ==== ===== ======= =====\nAlcohol:                      11.0  14.8    13.0   0.8\nMalic Acid:                   0.74  5.80    2.34  1.12\nAsh:                          1.36  3.23    2.36  0.27\nAlcalinity of Ash:            10.6  30.0    19.5   3.3\nMagnesium:                    70.0 162.0    99.7  14.3\nTotal Phenols:                0.98  3.88    2.29  0.63\nFlavanoids:                   0.34  5.08    2.03  1.00\nNonflavanoid Phenols:         0.13  0.66    0.36  0.12\nProanthocyanins:              0.41  3.58    1.59  0.57\nColour Intensity:              1.3  13.0     5.1   2.3\nHue:                          0.48  1.71    0.96  0.23\nOD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\nProline:                       278  1680     746   315\n============================= ==== ===== ======= =====\n\n:Missing Attribute Values: None\n:Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners:\n\nForina, M. et al, PARVUS -\nAn Extendible Package for Data Exploration, Classification and Correlation.\nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science.\n\n.. dropdown:: References\n\n    (1) S. Aeberhard, D. Coomans and O. de Vel,\n    Comparison of Classifiers in High Dimensional Settings,\n    Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Technometrics).\n\n    The data was used with many others for comparing various\n    classifiers. The classes are separable, though only RDA\n    has achieved 100% correct classification.\n    (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))\n    (All results using the leave-one-out technique)\n\n    (2) S. Aeberhard, D. Coomans and O. de Vel,\n    "THE CLASSIFICATION PERFORMANCE OF RDA"\n    Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of\n    Mathematics and Statistics, James Cook University of North Queensland.\n    (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [23]:
df = pd.DataFrame(wine['data'])
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [24]:
df[4] = wine['target']
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [25]:
# Adding column names
df.rename(columns = {0:'Customer_Segment', 1:'SepalWidthCm', 2:'Alcohol', 3:'Ash', 4:'Ash_Alcanity' , 5:'Magnesium', 6:'Total_Phenols', 7:'Flavanoids', 8:'Nonflavanoid_Phenols', 9:'Proanthocyanins', 10:'Color_Intensity', 11:'Hue', 12:'OD280', 13:'Proline'}, inplace = True)
df.head()

,Customer_Segment,SepalWidthCm,Alcohol,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280
0,14.23,1.71,2.43,15.6,0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [26]:
df.describe()

,Customer_Segment,SepalWidthCm,Alcohol,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,0.938202,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,0.775035,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,0.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,0.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,1.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,2.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,2.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [27]:
df.shape

(178, 13)

**MEAN**

In [28]:
df.mean()

Customer_Segment         13.000618
SepalWidthCm              2.336348
Alcohol                   2.366517
Ash                      19.494944
Ash_Alcanity              0.938202
Magnesium                 2.295112
Total_Phenols             2.029270
Flavanoids                0.361854
Nonflavanoid_Phenols      1.590899
Proanthocyanins           5.058090
Color_Intensity           0.957449
Hue                       2.611685
OD280                   746.893258
dtype: float64

In [29]:
df.median()

Customer_Segment         13.050
SepalWidthCm              1.865
Alcohol                   2.360
Ash                      19.500
Ash_Alcanity              1.000
Magnesium                 2.355
Total_Phenols             2.135
Flavanoids                0.340
Nonflavanoid_Phenols      1.555
Proanthocyanins           4.690
Color_Intensity           0.965
Hue                       2.780
OD280                   673.500
dtype: float64

In [30]:
# Calculated only for categorical data
df.Magnesium.mode()

0    2.2
Name: Magnesium, dtype: float64

In [31]:
df.groupby(['Magnesium']).count()

,Customer_Segment,SepalWidthCm,Alcohol,Ash,Ash_Alcanity,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280
Magnesium,,,,,,,,,,,,
0.98,1,1,1,1,1,1,1,1,1,1,1,1
1.10,1,1,1,1,1,1,1,1,1,1,1,1
1.15,1,1,1,1,1,1,1,1,1,1,1,1
1.25,1,1,1,1,1,1,1,1,1,1,1,1
1.28,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3.40,1,1,1,1,1,1,1,1,1,1,1,1
3.50,1,1,1,1,1,1,1,1,1,1,1,1
3.52,1,1,1,1,1,1,1,1,1,1,1,1
3.85,1,1,1,1,1,1,1,1,1,1,1,1
3.88,1,1,1,1,1,1,1,1,1,1,1,1

In [32]:
df.Customer_Segment.std()

np.float64(0.8118265380058575)

In [33]:
df.Alcohol.std()

np.float64(0.27434400906081485)

In [34]:
df.Ash.std()

np.float64(3.339563767173505)

In [35]:
df.Ash_Alcanity.std()

np.float64(0.7750349899850564)

In [36]:
df.Magnesium.std()

np.float64(0.6258510488339893)

In [37]:
df.Total_Phenols.std()

np.float64(0.9988586850169467)

In [38]:
df.Flavanoids.std()

np.float64(0.12445334029667937)

In [39]:
df.Nonflavanoid_Phenols.std()

np.float64(0.5723588626747613)

In [40]:
df.Proanthocyanins.std()

np.float64(2.318285871822413)

In [41]:
df.Color_Intensity.std()

np.float64(0.22857156582982338)

In [42]:
df.Hue.std()

np.float64(0.7099904287650504)

In [43]:
df.OD280.std()

np.float64(314.9074742768491)

**Group by**

In [44]:
import pandas as pd

# Sample data: Replace this with your actual dataset
data1 = {
    'age_group': ['18-25', '26-35', '36-45', '18-25', '26-35', '36-45', '26-35', '18-25'],
    'income': [30000, 50000, 70000, 35000, 55000, 75000, 60000, 32000]
}

# Creating the DataFrame
df1 = pd.DataFrame(data1)

# Grouping by age_group and calculating summary statistics for income
summary = df1.groupby('age_group')['income'].describe()

# Display the summary statistics
print(summary)

           count          mean          std      min      25%      50%  \
age_group
18-25        3.0  32333.333333  2516.611478  30000.0  31000.0  32000.0
26-35        3.0  55000.000000  5000.000000  50000.0  52500.0  55000.0
36-45        2.0  72500.000000  3535.533906  70000.0  71250.0  72500.0

               75%      max
age_group
18-25      33500.0  35000.0
26-35      57500.0  60000.0
36-45      73750.0  75000.0

In [49]:
import seaborn as sns
import pandas as pd
import numpy as np

data = sns.load_dataset('iris')
print('Original Dataset')
data.head()

Original Dataset

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [46]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [47]:
np.percentile(data["sepal_length"],25)

np.float64(5.1)

In [48]:
data["sepal_length"].std()

np.float64(0.828066127977863)